<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}

<br></br>
<div>
  <img src="static/JT_suit.jpg" style="display: block;
margin-left: auto;
margin-right: auto;
width: 25%;" alt="broken" />
  <h1 style="text-align: center">Joe Tustin</h1>
  <figure>
    <p><blockquote class="text">"Hello, I'm a Solution Engineer at Nylas.<br/>My role is to act as a 'trusted advisor' and make sure that
    a good product fit exists between you and Nylas.<br/>I hope to represent the interests of both parties to achieve
    mutual success!!!"</blockquote></p>
  </figure>
</div>

{% endblock %}
